@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 20 82 212;        /* #1452D4 */
  --secondary: 139 36 226;     /* #8B24E2 */
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.react-colorful {
  width: 100% !important;
}

/* Make hue slider thin */
.react-colorful__hue {
  height: 6px !important;
  border-radius: 4px;
}

/* Make hue pointer smaller */
.react-colorful__hue-pointer {
  width: 4px;
  height: 4px;
}