@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 20 82 212;        /* #1452D4 */
  --secondary: 139 36 226;     /* #8B24E2 */
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}