@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 20 82 212; 
  --secondary: 16, 15, 15;     
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.react-colorful {
  width: 100% !important;
}

/* Make hue slider thin */
.react-colorful__hue {
  height: 6px !important;
  border-radius: 4px;
}

/* Make hue pointer smaller */
.react-colorful__hue-pointer {
  width: 4px;
  height: 4px;
}
.pac-container {
  z-index: 999999 !important;
   pointer-events: auto !important;
}